.container{
    height: 100%; 
}
.row{
    display: flex; 
}
.box{
    background-color: mediumseagreen;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white; 
}
.box-interno{
    background-color: rgb(233, 95, 53);
    height: 30px;
    border: 1px solid mediumseagreen;
    width: 100%;
}

.box2{
    background-color: mediumseagreen;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid white;  
}

